.env
venv/

--pycache__/
*.pyc
*.pyo
*.pyd

/staticfiles/
/media/

.DS_Store
*.log
*.pot
db.sqlite3
.vscode/
.idea/
*.swp
*.swo
node_modules/
dist/
build/
*.egg-info/
.pytest_cache/
.coverage
htmlcov/